In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,StandardScaler
import pickle

In [3]:
### load the file

data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
### remove the unesccary data


data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
### convert the cetagorical value into numerical value

label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [13]:
### convert the geographical value to numerical value

one_hot_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded=one_hot_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=one_hot_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [14]:
### concat the one hot encoded geography data


data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [15]:
#### split the data into features and target

x=data.drop('EstimatedSalary',axis=1) ### independent features
y=data['EstimatedSalary'] ## dependent features

In [17]:
### create the training and testing set data

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=42)


### standardscaler


scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit_transform(x_test)

In [18]:
#### save the enocders and pickle files


with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('one_hot_geo.pkl','wb') as file:
    pickle.dump(one_hot_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [19]:
### ANN regression

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [25]:
### build the model 
model=Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)), ##hl1
    Dense(32,activation='relu'), ## hl2 
    Dense(1)  ##op

])


### compile the model

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

c:\Users\user\Desktop\ANN_CLASSIFICATION\env\Lib\site-packages\keras\src\layers\core\dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_5"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_15 (Dense)                │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_16 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_17 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [26]:
### saving the logs 

from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime


logs="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=logs,histogram_freq=1)

In [31]:
### earlystopping

earlystopping_callback=EarlyStopping(monitor="val_loss",patience=5,restore_best_weights=True)

In [32]:
### train the model

history=model.fit(x_train,y_train,validation_data=(x_test,y_test),epochs=100,
          callbacks=[tensorboard_callback,earlystopping_callback]
)

Epoch 1/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 98616.3594 - mae: 98616.3594 - val_loss: 99498.0781 - val_mae: 99498.0781
Epoch 2/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 94699.1641 - mae: 94699.1641 - val_loss: 93779.3203 - val_mae: 93779.3203
Epoch 3/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 87383.4141 - mae: 87383.4141 - val_loss: 84761.2109 - val_mae: 84761.2109
Epoch 4/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 77574.8359 - mae: 77574.8359 - val_loss: 74062.5703 - val_mae: 74062.5703
Epoch 5/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 67372.5156 - mae: 67372.5156 - val_loss: 64236.6445 - val_mae: 64236.6445
Epoch 6/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 58998.6172 - mae: 58998.6172 - val_loss: 56928.8438 - val_mae: 56928.8438
Epoch 7/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 53694.4414 - mae: 53694.4414 - val_loss: 52988.5977 - val_mae: 52988.5977
Epoch 8/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51238.7930 - mae: 51238.7930 - val_loss: 51340.4922 - val_mae: 51340.4922
Epoch 9/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50376.0000 - mae: 50376.0000 - val_loss: 50784.0625 - val_mae: 50784.0625
Epoch 10/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50100.6133 - mae: 50100.6133 - val_loss: 50582.6445 - val_mae: 50582.6445
Epoch 11/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50003.8203 - mae: 50003.8203 - val_loss: 50510.0156 - val_mae: 50510.0156
Epoch 12/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49951.3633 - mae: 49951.3633 - val_loss: 50465.0352 - val_mae: 50465.0352
Epoch 13/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49914.2070 - mae: 49914.2070 - val_loss: 50435.7070 - val_mae: 50435.7070
Epoch 14/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49883.6289 - mae: 49883.6289 - val_loss: 50421.7227 - val_mae: 50421.7227
Epoch 15/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49857.7617 - mae: 49857.7617 - val_loss: 50399.9258 - val_mae: 50399.9258
Epoch 16/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49833.3789 - mae: 49833.3789 - val_loss: 50383.4141 - val_mae: 50383.4141
Epoch 17/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49809.9023 - mae: 49809.9023 - val_loss: 50362.9492 - val_mae: 50362.9492
Epoch 18/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49793.3867 - mae: 49793.3867 - val_loss: 50355.1836 - val_mae: 50355.1836
Epoch 19/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49781.1641 - mae: 49781.1641 - val_loss: 50340.4062 - val_mae: 50340.4062
Epoch 20/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49765.8320 - mae: 49765.8320 - val_loss: 50328.5742 - val_mae: 50328.5742
Epoch 21/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49747.9219 - mae: 49747.9219 - val_loss: 50313.1328 - val_mae: 50313.1328
Epoch 22/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49736.9766 - mae: 49736.9766 - val_loss: 50301.5117 - val_mae: 50301.5117
Epoch 23/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49721.7461 - mae: 49721.7461 - val_loss: 50291.9258 - val_mae: 50291.9258
Epoch 24/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49712.1367 - mae: 49712.1367 - val_loss: 50281.9258 - val_mae: 50281.9258
Epoch 25/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49702.5469 - mae: 49702.5469 - val_loss: 50271.2422 - val_mae: 50271.2422
Epoch 26/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49688.0508 - mae: 49688.0508 - val_loss: 50261.1914 - val_mae: 50261.1914
Epoch 27/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49675.9570 - mae: 49675.9570 - val_loss: 50248.1172 - val_mae: 50248.1172
Epoch 28/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49667.4570 - mae: 49667.4570 - val_loss: 50254.7852 - val_mae: 50254.7852
Epoch 29/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49658.0391 - mae: 49658.0391 - val_loss: 50238.6016 - val_mae: 50238.6016
Epoch 30/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49647.9688 - mae: 49647.9688 - val_loss: 50230.1211 - val_mae: 50230.1211
Epoch 31/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49637.8398 - mae: 49637.8398 - val_loss: 50226.2031 - val_mae: 50226.2031
Epoch 32/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49629.7031 - mae: 49629.7031 - val_loss: 50218.6992 - val_mae: 50218.6992
Epoch 33/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49621.9062 - mae: 49621.9062 - val_loss: 50219.3711 - val_mae: 50219.3711
Epoch 34/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49612.6133 - mae: 49612.6133 - val_loss: 50201.6680 - val_mae: 50201.6680
Epoch 35/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49607.0742 - mae: 49607.0742 - val_loss: 50200.0273 - val_mae: 50200.0273
Epoch 36/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49600.5898 - mae: 49600.5898 - val_loss: 50189.6875 - val_mae: 50189.6875
Epoch 37/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49594.2266 - mae: 49594.2266 - val_loss: 50193.9375 - val_mae: 50193.9375
Epoch 38/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49587.8477 - mae: 49587.8477 - val_loss: 50187.7031 - val_mae: 50187.7031
Epoch 39/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49582.4180 - mae: 49582.4180 - val_loss: 50184.2070 - val_mae: 50184.2070
Epoch 40/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49575.6992 - mae: 49575.6992 - val_loss: 50169.2734 - val_mae: 50169.2734
Epoch 41/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49568.0898 - mae: 49568.0898 - val_loss: 50165.9727 - val_mae: 50165.9727
Epoch 42/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49562.2031 - mae: 49562.2031 - val_loss: 50165.4062 - val_mae: 50165.4062
Epoch 43/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49558.9375 - mae: 49558.9375 - val_loss: 50165.5977 - val_mae: 50165.5977
Epoch 44/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49552.5352 - mae: 49552.5352 - val_loss: 50170.2812 - val_mae: 50170.2812
Epoch 45/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49545.1602 - mae: 49545.1602 - val_loss: 50168.4688 - val_mae: 50168.4688
Epoch 46/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49539.4375 - mae: 49539.4375 - val_loss: 50152.6055 - val_mae: 50152.6055
Epoch 47/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49538.2383 - mae: 49538.2383 - val_loss: 50160.9844 - val_mae: 50160.9844
Epoch 48/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49530.6367 - mae: 49530.6367 - val_loss: 50159.0430 - val_mae: 50159.0430
Epoch 49/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49524.7031 - mae: 49524.7031 - val_loss: 50155.7188 - val_mae: 50155.7188
Epoch 50/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49519.1172 - mae: 49519.1172 - val_loss: 50148.9922 - val_mae: 50148.9922
Epoch 51/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49517.5625 - mae: 49517.5625 - val_loss: 50142.5703 - val_mae: 50142.5703
Epoch 52/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49512.5742 - mae: 49512.5742 - val_loss: 50139.0625 - val_mae: 50139.0625
Epoch 53/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49509.2852 - mae: 49509.2852 - val_loss: 50130.1953 - val_mae: 50130.1953
Epoch 54/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49503.7422 - mae: 49503.7422 - val_loss: 50136.4297 - val_mae: 50136.4297
Epoch 55/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49497.4453 - mae: 49497.4453 - val_loss: 50132.0586 - val_mae: 50132.0586
Epoch 56/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49492.8398 - mae: 49492.8398 - val_loss: 50125.6445 - val_mae: 50125.6445
Epoch 57/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49488.5156 - mae: 49488.5156 - val_loss: 50133.6055 - val_mae: 50133.6055
Epoch 58/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49485.7695 - mae: 49485.7695 - val_loss: 50127.5586 - val_mae: 50127.5586
Epoch 59/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49482.8320 - mae: 49482.8320 - val_loss: 50120.2930 - val_mae: 50120.2930
Epoch 60/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49482.4180 - mae: 49482.4180 - val_loss: 50118.3906 - val_mae: 50118.3906
Epoch 61/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49474.2461 - mae: 49474.2461 - val_loss: 50115.1172 - val_mae: 50115.1172
Epoch 62/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49472.3750 - mae: 49472.3750 - val_loss: 50119.0234 - val_mae: 50119.0234
Epoch 63/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49470.9648 - mae: 49470.9648 - val_loss: 50111.8516 - val_mae: 50111.8516
Epoch 64/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49465.4453 - mae: 49465.4453 - val_loss: 50113.8867 - val_mae: 50113.8867
Epoch 65/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49462.2383 - mae: 49462.2383 - val_loss: 50111.5352 - val_mae: 50111.5352
Epoch 66/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49459.6289 - mae: 49459.6289 - val_loss: 50110.1758 - val_mae: 50110.1758
Epoch 67/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49455.0938 - mae: 49455.0938 - val_loss: 50101.4727 - val_mae: 50101.4727
Epoch 68/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49452.1836 - mae: 49452.1836 - val_loss: 50104.6055 - val_mae: 50104.6055
Epoch 69/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49447.7500 - mae: 49447.7500 - val_loss: 50109.5000 - val_mae: 50109.5000
Epoch 70/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49444.8438 - mae: 49444.8438 - val_loss: 50101.2109 - val_mae: 50101.2109
Epoch 71/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49447.2812 - mae: 49447.2812 - val_loss: 50101.3477 - val_mae: 50101.3477
Epoch 72/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49440.5742 - mae: 49440.5742 - val_loss: 50099.1055 - val_mae: 50099.1055
Epoch 73/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49437.6211 - mae: 49437.6211 - val_loss: 50099.5000 - val_mae: 50099.5000
Epoch 74/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49436.1055 - mae: 49436.1055 - val_loss: 50102.2383 - val_mae: 50102.2383
Epoch 75/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49434.5469 - mae: 49434.5469 - val_loss: 50101.4219 - val_mae: 50101.4219
Epoch 76/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49428.5898 - mae: 49428.5898 - val_loss: 50101.6172 - val_mae: 50101.6172
Epoch 77/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49429.1875 - mae: 49429.1875 - val_loss: 50095.9648 - val_mae: 50095.9648
Epoch 78/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49424.9531 - mae: 49424.9531 - val_loss: 50094.9492 - val_mae: 50094.9492
Epoch 79/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49420.6641 - mae: 49420.6641 - val_loss: 50103.3320 - val_mae: 50103.3320
Epoch 80/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49420.0625 - mae: 49420.0625 - val_loss: 50099.8906 - val_mae: 50099.8906
Epoch 81/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49418.8438 - mae: 49418.8438 - val_loss: 50103.2539 - val_mae: 50103.2539
Epoch 82/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49418.1172 - mae: 49418.1172 - val_loss: 50100.5859 - val_mae: 50100.5859
Epoch 83/100
282/282 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49413.0859 - mae: 49413.0859 - val_loss: 50097.4258 - val_mae: 50097.4258

In [34]:
### load tensorboard


%load_ext tensorboard

In [36]:
### launch the tensorboard

%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 704), started 0:00:10 ago. (Use '!kill 704' to kill it.)

In [37]:
### evaluate model on the test data

test_loss,test_mae=model.evaluate(x_test,y_test)

print(f'my test MAE is: {test_mae}')
print(f'the test loss is: {test_loss}')

32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 50094.9492 - mae: 50094.9492
my test MAE is: 50094.94921875
the test loss is: 50094.94921875

In [38]:
### save the regression file

model.save("regression.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.